<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
	<div><%= hidden_field_tag :followed_id, @user.id %></div>
	<%= f.submit "关注TA", :data => { :"disable-with" => "请稍等..." }, class: "btn btn-primary pull-right" %>
<% end %>	