<% @user ||= current_user %>
<div class="stats">
	<a href="<%= following_user_path(@user) %>
		"> <strong id="following" class="stat"><%= @user.following.count %></strong>
		我关注的人
	</a>
	<a href="<%= followers_user_path(@user) %>
		"> <strong id="followers" class="stat"><%= @user.followers.count %></strong>
		关注我的人
	</a>
</div>