<footer class="footer">
	<small>
		The
		<a href="http://www.izhanghan.com/">qulook.com</a>
		by
		<a href="http://www.izhanghan.com">zhang han @2015</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "关于",		about_path %></li>
			<li><%= link_to "联系我们",	contact_path %></li>
			<li><a href="http://www.izhanghan.com/"></a>@2015-2025</li>
		</ul>
	</nav>
</footer>